html, body{ 
  height: 100%;
  background-image: url("img/wallpaper-sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #1f1f1fe3;
  border-radius: 0;
  padding-bottom: 0px;

}

#currentDay {
  font-size: 40px;
  font-weight: 400;
  color: #1f1f1fe3;
}

.container {
  max-width: 80%;
}

.description {
  white-space: pre-wrap;
  font-size: 20px;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  text-align: center;
  background-color: transparent;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  border-radius: 15px;
  background-color: #a6aaac93;
  color: white;
}

.past .description {
  color: whitesmoke;
}

.present {
  border-radius: 15px;
  background-color: #ff696173;
  color: white;
}

.future {
  border-radius: 15px;
  background-color: #77dd7788;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #327492;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.resetSchedule {
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  background-color: #327492;
  color: white;
}

.resetSchedule:hover {
  background-color: #275b7457;
  transition: all 0.3s ease-in-out;
}